/*
name: Cascade Console Styler CSS
version:  0.1
*/
:root {
  --container-size: 1200px;
  --text-color: #3d3821;
}

/*
================================================================================
Table component styles
================================================================================
*/
.table {
  width: 100%;
  border-collapse: collapse;
  border-width: 0;
  margin: 0;
}
.table + .table {
  margin-top: 10px;
}
.table thead {
  display: none;
}
.table thead th, .table thead td, .table tfoot th, .table tfoot td, .table tbody th th, .table tbody th td {
  background-color: transparent;
}
.table tr {
  border-top: 1px solid;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.table th, .table td {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  border-top: 1px solid;
  height: 4rem;
  padding: 10px;
}
.table th::before, .table td::before {
  content: attr(title);
  display: inline-block;
  margin-right: auto;
  font-weight: bold;
}
.table-action {
  font-size: 1.5em;
}
@media (min-width: 768px) {
  .table thead {
    display: table-header-group;
  }
  .table tbody tr {
    transition: background-color 0.2s ease-out;
  }
  .table tbody tr:hover {
    transition: background-color 0.2s ease-in;
  }
  .table tr {
    display: table-row;
  }
  .table th, .table td {
    display: table-cell;
    vertical-align: middle;
  }
  .table th::before, .table td::before {
    display: none;
  }
  .table th.g-1, .table td.g-1 {
    width: 8.3333333333%;
  }
  .table th.g-2, .table td.g-2 {
    width: 16.6666666667%;
  }
  .table th.g-3, .table td.g-3 {
    width: 25%;
  }
  .table th.g-4, .table td.g-4 {
    width: 33.3333333333%;
  }
  .table th.g-5, .table td.g-5 {
    width: 41.6666666667%;
  }
  .table th.g-6, .table td.g-6 {
    width: 50%;
  }
  .table th.g-7, .table td.g-7 {
    width: 58.3333333333%;
  }
  .table th.g-8, .table td.g-8 {
    width: 66.6666666667%;
  }
  .table th.g-9, .table td.g-9 {
    width: 75%;
  }
  .table th.g-10, .table td.g-10 {
    width: 83.3333333333%;
  }
  .table th.g-11, .table td.g-11 {
    width: 91.6666666667%;
  }
  .table th.g-12, .table td.g-12 {
    width: 100%;
  }
  .table-action {
    width: 5rem;
    font-size: 1em;
  }
}

/*
================================================================================
Form component styles
==============================================================================
*/
.form {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin: 0;
}
.form fieldset {
  display: inherit;
  flex-wrap: inherit;
  flex: inherit;
  border: thin solid var(--border-color);
  border-radius: var(--radius);
  margin: 10px;
}
.form fieldset legend {
  padding: 5px;
  user-select: none;
}
.form fieldset legend * + * {
  margin-left: 10px;
}
.form-group {
  display: inherit;
  flex-wrap: inherit;
  flex: 1 0 100%;
  padding: 10px 0;
  justify-content: space-between;
  border-top: thin solid var();
}
.form-control {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  border-radius: var();
  margin: 10px;
  font-size: 1rem;
}
.form-control input[type=number] {
  text-align: right;
}
.form-control input[type=text],
.form-control input[type=number],
.form-control input[type=password],
.form-control input[type=date],
.form-control input[type=month],
.form-control [type=button],
.form-control [type=submit],
.form-control textarea,
.form-control select,
.form-control button {
  width: 100%;
}
.form-control input[type=text],
.form-control input[type=number],
.form-control input[type=password],
.form-control input[type=date],
.form-control input[type=month],
.form-control textarea,
.form-control select {
  flex: 1 0 auto;
  border-width: 0 0 1px 0;
  border-color: var();
  background-color: transparent;
  height: var();
  min-height: var();
  z-index: 1;
}
.form-control input[type=text][disabled],
.form-control input[type=number][disabled],
.form-control input[type=password][disabled],
.form-control input[type=date][disabled],
.form-control input[type=month][disabled],
.form-control textarea[disabled],
.form-control select[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
.form-control input[type=text]:valid, .form-control input[type=text]:focus,
.form-control input[type=number]:valid,
.form-control input[type=number]:focus,
.form-control input[type=password]:valid,
.form-control input[type=password]:focus,
.form-control input[type=date]:valid,
.form-control input[type=date]:focus,
.form-control input[type=month]:valid,
.form-control input[type=month]:focus,
.form-control textarea:valid,
.form-control textarea:focus,
.form-control select:valid,
.form-control select:focus {
  outline: none;
}
.form-control input[type=text]:valid ~ label, .form-control input[type=text]:focus ~ label,
.form-control input[type=number]:valid ~ label,
.form-control input[type=number]:focus ~ label,
.form-control input[type=password]:valid ~ label,
.form-control input[type=password]:focus ~ label,
.form-control input[type=date]:valid ~ label,
.form-control input[type=date]:focus ~ label,
.form-control input[type=month]:valid ~ label,
.form-control input[type=month]:focus ~ label,
.form-control textarea:valid ~ label,
.form-control textarea:focus ~ label,
.form-control select:valid ~ label,
.form-control select:focus ~ label {
  cursor: default;
  font-size: 0.8rem;
  transition: all 0.1s linear;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.form-control input[type=text]:valid,
.form-control input[type=number]:valid,
.form-control input[type=password]:valid,
.form-control input[type=date]:valid,
.form-control input[type=month]:valid,
.form-control textarea:valid,
.form-control select:valid {
  border-color: var();
}
.form-control input[type=text]:focus,
.form-control input[type=number]:focus,
.form-control input[type=password]:focus,
.form-control input[type=date]:focus,
.form-control input[type=month]:focus,
.form-control textarea:focus,
.form-control select:focus {
  border-color: var();
}
.form-control input[type=text]:invalid,
.form-control input[type=number]:invalid,
.form-control input[type=password]:invalid,
.form-control input[type=date]:invalid,
.form-control input[type=month]:invalid,
.form-control textarea:invalid,
.form-control select:invalid {
  border-color: var();
}
.form-control label {
  user-select: none;
  font-size: 1rem;
  height: var();
  margin-left: 0;
  transition: all 0.1s linear;
  z-index: 0;
}
.form-control input[type=checkbox] ~ label::before {
  border-radius: var();
}
.form-control input[type=radio] ~ label::before {
  border-radius: 50%;
}
.form-control input[type=radio]:checked ~ label {
  cursor: default;
}
.form-control input[type=checkbox], .form-control input[type=radio] {
  display: none;
}
.form-control input[type=checkbox] ~ label, .form-control input[type=radio] ~ label {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: initial;
  margin-left: 0;
}
.form-control input[type=checkbox] ~ label::before, .form-control input[type=radio] ~ label::before {
  content: " ";
  display: inline-block;
  margin-right: 5px;
  border: 2px solid var();
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
}
.form-control input[type=checkbox]:checked ~ label, .form-control input[type=radio]:checked ~ label {
  color: #02389c;
}
.form-control input[type=checkbox]:checked ~ label::before, .form-control input[type=radio]:checked ~ label::before {
  background: #02389c;
}
.form-control textarea {
  height: initial;
  resize: vertical;
}
.form-control textarea ~ label {
  position: absolute;
  top: var();
}
.form-control.inline {
  flex-direction: row;
  margin: 0 10px;
}
.form-control.inline > * + * {
  margin-left: 5px;
}
.form-control.inline input, .form-control.inline textarea, .form-control.inline select {
  font-size: initial;
  border-width: 0;
  background-color: transparent;
}
.form-control.inline input:valid ~ label, .form-control.inline input:focus ~ label, .form-control.inline textarea:valid ~ label, .form-control.inline textarea:focus ~ label, .form-control.inline select:valid ~ label, .form-control.inline select:focus ~ label {
  font-size: initial;
}
.form-control.inline label {
  height: initial;
}

.static-text {
  display: inline-flex;
  flex: 1 0 auto;
  align-items: center;
  height: var();
  min-height: var();
  color: initial;
}
.static-text.start {
  justify-content: flex-;
}
.static-text.center {
  justify-content: flex-;
}
.static-text.end {
  justify-content: flex-;
}

.form-title {
  flex: 1 0 100%;
  margin-top: 0;
  padding: 20px 10px;
  border-bottom-style: var();
  border-bottom-width: var();
  border-bottom-color: var();
}
.form-actions {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 100%;
  padding: 10px;
}
.form-actions * + * {
  margin-left: 10px;
}
@media (min-width: 768px) {
  .form-group {
    flex: inherit;
    border-top: none;
  }
}

.ui-inputfield {
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-right: 5px;
  border-width: 1px;
  border-style: solid;
}

/*
================================================================================
Tag styles
==============================================================================
*/
* {
  box-sizing: border-box;
}

html {
  font-family: "Courier New", Courier, monospace;
  color: var(--text-color);
}

body {
  overflow-y: scroll;
}

hr {
  width: 100%;
  height: 1px;
  border-width: 0;
  margin: 10px 0;
}

a {
  cursor: pointer;
}

/*
================================================================================
Grid component styles
==============================================================================
*/
.main, .container {
  margin: auto;
  max-width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  margin: 0;
}

.g-1 {
  width: calc(8.3333333333% - 20px);
}

.g-2 {
  width: calc(16.6666666667% - 20px);
}

.g-3 {
  width: calc(25% - 20px);
}

.g-4 {
  width: calc(33.3333333333% - 20px);
}

.g-5 {
  width: calc(41.6666666667% - 20px);
}

.g-6 {
  width: calc(50% - 20px);
}

.g-7 {
  width: calc(58.3333333333% - 20px);
}

.g-8 {
  width: calc(66.6666666667% - 20px);
}

.g-9 {
  width: calc(75% - 20px);
}

.g-10 {
  width: calc(83.3333333333% - 20px);
}

.g-11 {
  width: calc(91.6666666667% - 20px);
}

.g-12 {
  width: calc(100% - 20px);
}

@media only screen and (max-width: 425px) {
  .g-s-1 {
    width: calc(8.3333333333% - 20px);
  }

  .g-s-2 {
    width: calc(16.6666666667% - 20px);
  }

  .g-s-3 {
    width: calc(25% - 20px);
  }

  .g-s-4 {
    width: calc(33.3333333333% - 20px);
  }

  .g-s-5 {
    width: calc(41.6666666667% - 20px);
  }

  .g-s-6 {
    width: calc(50% - 20px);
  }

  .g-s-7 {
    width: calc(58.3333333333% - 20px);
  }

  .g-s-8 {
    width: calc(66.6666666667% - 20px);
  }

  .g-s-9 {
    width: calc(75% - 20px);
  }

  .g-s-10 {
    width: calc(83.3333333333% - 20px);
  }

  .g-s-11 {
    width: calc(91.6666666667% - 20px);
  }

  .g-s-12 {
    width: calc(100% - 20px);
  }
}
@media only screen and (min-width: 425px) and (max-width: 768px) {
  .g-m-1 {
    width: calc(8.3333333333% - 20px);
  }

  .g-m-2 {
    width: calc(16.6666666667% - 20px);
  }

  .g-m-3 {
    width: calc(25% - 20px);
  }

  .g-m-4 {
    width: calc(33.3333333333% - 20px);
  }

  .g-m-5 {
    width: calc(41.6666666667% - 20px);
  }

  .g-m-6 {
    width: calc(50% - 20px);
  }

  .g-m-7 {
    width: calc(58.3333333333% - 20px);
  }

  .g-m-8 {
    width: calc(66.6666666667% - 20px);
  }

  .g-m-9 {
    width: calc(75% - 20px);
  }

  .g-m-10 {
    width: calc(83.3333333333% - 20px);
  }

  .g-m-11 {
    width: calc(91.6666666667% - 20px);
  }

  .g-m-12 {
    width: calc(100% - 20px);
  }
}
@media only screen and (min-width: 768px) {
  .g-l-1 {
    width: calc(8.3333333333% - 20px);
  }

  .g-l-2 {
    width: calc(16.6666666667% - 20px);
  }

  .g-l-3 {
    width: calc(25% - 20px);
  }

  .g-l-4 {
    width: calc(33.3333333333% - 20px);
  }

  .g-l-5 {
    width: calc(41.6666666667% - 20px);
  }

  .g-l-6 {
    width: calc(50% - 20px);
  }

  .g-l-7 {
    width: calc(58.3333333333% - 20px);
  }

  .g-l-8 {
    width: calc(66.6666666667% - 20px);
  }

  .g-l-9 {
    width: calc(75% - 20px);
  }

  .g-l-10 {
    width: calc(83.3333333333% - 20px);
  }

  .g-l-11 {
    width: calc(91.6666666667% - 20px);
  }

  .g-l-12 {
    width: calc(100% - 20px);
  }
}
/*
================================================================================
Generic component styles
==============================================================================
*/
.hidden {
  display: none;
}
@media only screen and (max-width: 425px) {
  .hidden-s {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .hidden-m {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .hidden-l {
    display: none;
  }
}
@media only screen and (max-width: 1280px) {
  .hidden-xl {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
