
/*
================================================================================
Table component styles
================================================================================
*/

.table {
    width: 100%;
    border-collapse: collapse;

    & + & {
      margin-top: $margin;
    }

    thead {
        display: none;
    }

    thead, tfoot, tbody th {
      th, td {
        background-color: lighten($list-background-color, 20%);
      }
    }
    
    tr {
      border-top: 1px solid $list-border-color;
      display: flex;
      flex-direction: column;
      width: 100%;
      
      td:nth-last-child(1) {
        background: $list-background-color;
      }
    }
    
    th, td {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      align-items: center;
      border-top: 1px solid $list-border-color;
      height: 4rem;
      padding: $padding;

        &::before {
            content: attr(title);
            display: inline-block;
            margin-right: auto;
            font-weight: bold;
        }
    }

    &-action {
      font-size: 1.5em;
    }

    @media(min-width: $medium-device) {
        thead {
            display: table-header-group;
        }

        tbody {
          tr {
            background-color: $dark-background;
            transition: background-color .2s ease-out;

            &:hover {
              transition: background-color .2s ease-in;
              background-color: lighten($dark-background, 15%);
            }
          }
        }

        tr {
            display: table-row;
            td:nth-last-child(1) {
                background: inherit;
            }
        }

        th, td {
            display: table-cell;
            vertical-align: middle;

            &::before {
                display: none;
            }

            @for $g from 1 through $grid-divisor {
              &.g-#{$g} {
                width: $g/$grid-divisor * 100%;
              }
            }
          }

        &-action {
          width: 5rem;
          font-size: 1em;
        }
    }

    // .table .form
    &.editable {
      margin: auto;
      border-collapse: separate;
      border-spacing: .25rem .75rem;

      thead {
        padding: .25rem;
      }
      
      // tr all groups
      tr {
        
        &.active {
          border-bottom-width: 2px;
          background-color: $row-control-background;
        }
      }

      td, th {
        border-top: none;
      }

      // .table.editable tbody
      tbody {

        td {
          padding: 0;

          &.actions {
            padding: .5em;
          }

          .static-text {
            margin: 0 #{$margin/2};
          }

          .form-control {
            margin: 0;

            input[type="text"],
            input[type="number"],
            input[type="password"],
            input[type="date"],
            input[type="month"],
            textarea,
            select {
              border-width: 0;
              color: initial;

              &:focus {
                outline: thin solid darken($form-control-border-color, 25%);
              }
            }
          }
        }
      }
    }

    &.clean {
      thead {
        border: none;
        background: $light-background;

        tr, td, th {
          border: none !important;
        }

        th {
          padding: 1em .5em;
        }
      }
    }
}
