//=========================================================================
//Breakpoints
//=========================================================================
$small-device: 425px;
$medium-device: 768px;
$large-device: 1200px;
$xlarge-device: 1280px;

//=========================================================================
//Generic component variables
//=========================================================================
$grid-divisor: 12;
$margin: 10px;
$padding: 10px;
$circle-size: 2rem;
$border-radius: 3px;
$disabled-opacity: 0.5;
//=========================================================================
//Pallete
//=========================================================================
$default-color: #fdffeb;
$primary-color: #02389c;
$contrast-color: #00ffbf;
$light-color: #fdfaeb;
$dark-color: #3d3821;
//=========================================================================
// css variables
//=========================================================================
:root {
    --container-size: 1200px;
}